body {
	align-content: center;
	background-color: lightblue;
}

h1 {
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 700;
}

h2, p {
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;

}

p {
	display: inline;

}

.headline, #stop-dropdown-form, .bored, .results, .videos, .more {
	text-align: center;
	padding: 20px;

}

div.choice select {
	border: 1px solid #828282;
	padding: 2px;
}

.more {
	cursor: pointer;
}

.submit {
	
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:'PT Sans Caption', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:9px 25px;
	text-decoration: none;
	text-shadow:0px 1px 0px #3d768a;
}
.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}

