body {
	align-content: center;
	background-color: lightblue;
}



h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h2, p {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}

p {
	display: inline;

}

.headline, #stop-dropdown-form, .bored, .results, .videos, .more {
	text-align: center;
	padding: 20px;

}

div.choice select {
	border: 1px solid #828282;
	padding: 2px;
}

.more {
	cursor: pointer;
}

.submit {
	border-top: 1px solid #636257;
   background: #177d8f;
   background: -webkit-gradient(linear, left top, left bottom, from(#4320b3), to(#177d8f));
   background: -webkit-linear-gradient(top, #4320b3, #177d8f);
   background: -moz-linear-gradient(top, #4320b3, #177d8f);
   background: -ms-linear-gradient(top, #4320b3, #177d8f);
   background: -o-linear-gradient(top, #4320b3, #177d8f);
   padding: 10px 20px;
   -webkit-border-radius: 23px;
   -moz-border-radius: 23px;
   border-radius: 23px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #fffcff;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 20px;
}
.button:hover {
   border-top-color: #130f52;
   background: #130f52;
   color: #ccc;
}
.button:active {
   border-top-color: #91d6a1;
   background: #91d6a1;
}


.videos {

}

.player {
	margin-left: 200px;
	padding-left: 200px;
	margin-right: 200px;
	padding-left: 200px;
	margin-top: 80px;
}